@using BlazorPro.BlazorSize
@using Eurovision.WebApp.Models
@inherits LayoutComponentBase

<MediaQueryList>
    @if (Ready)
    {
        <NavMenu />
        <main>
            @Body
        </main>
    }
    else
    {
        <main>
            <div class="loading-container">
                <img src="./images/eurovision_logo.png" />
                <div >
                    <span class="spinner"></span>
                </div>
            </div>
        </main>
    }
</MediaQueryList>

@code {

    [Inject]
    public IRepository Repository { get; set; }

    private bool Ready { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Repository.InitAsync();
            Ready = true;
            StateHasChanged();
        }
    }
}