.spinner {
    margin: auto;
    width: 6vmin;
    height: 6vmin;
    border: 0.7vmin solid var(--theme-color);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
} 
