#main {
    max-width: 850px;
}

.title {
    font-size: 1.5rem;
    margin: 20px 0;
}

.data-container {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-content: space-between;
}

.contest-data {
    background-color: var(--info-box-color);
    border-radius: 20px;
    padding: 10px;
    width: 100%;
}

.logo {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.logo img {
    min-width: 100px;
    max-width: clamp(150px, 40vw, 250px);
    min-height: 100px;
    max-height: 300px;
}
.results {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.results .title {
    margin: 0.5em auto;
    font-size: 2em;
    font-weight: bold;
}

.results .subtitle {
    margin: 0.5em auto;
    font-size: 1.5em;
    font-weight: bold;
}

/*========================== Result table ==========================*/

::deep .quickgrid {
    width: 100%;
    border-spacing: 0px;
    --col-gap: 0;
}

::deep .quickgrid thead {
    background-color: var(--info-box-color);
}

::deep .quickgrid th:not(:last-child) {
  border-right: 2px solid white;
}

::deep .quickgrid .col-title {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1em;
    justify-content: space-between;
    padding: 0.2em 0.4em;
}

::deep .quickgrid tbody tr:nth-child(even) {
  background-color: #00000015;
}

::deep .quickgrid tbody tr:hover {
  background-color: #0000ff10;
}

::deep .quickgrid td {
    padding: 5px 0.2em !important; 
}

a.link {
    display: block;
    width: 100%;
    height: 100%;
}


.place {
    font-weight: bold;
}

.song {

}

.artist {
    margin-top: 2px;
    font-size: 0.9em;
}

.flag {
    height: 1.25em;
}

.disqualified {
    margin-left: 1em;
    padding: 3px;
    background-color: black;
    color: white;
    border-radius: 2px;
    font-size: 80%;
    font-weight: bold;
}

/*===============================================================*/


@media (max-width:600px) {
    .data-container {
        flex-direction: column;
    }

    ::deep .quickgrid{
        --col-gap: 0;
    }
}
